@model IEnumerable<SistemaInventario.Models.BD.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entradastock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salidastock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodproductoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdestanteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproveedorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdsucursalNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdusuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entradastock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salidastock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodproductoNavigation.Codproducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdestanteNavigation.Idestante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdproveedorNavigation.Idproveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdsucursalNavigation.Idsucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdusuarioNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idregistro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idregistro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idregistro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
